*.vsidx
*.sln
*.dll
bin/
Migrations/
obj/
vs/
.vs/Faktura/DesignTimeBuild/.dtbcache.v2
.vs/Faktura/FileContentIndex/read.lock
.vs/Faktura/v17/.futdcache.v2
.vs/Faktura/v17/.suo
.vs/ProjectEvaluation/faktura.metadata.v5.2
.vs/ProjectEvaluation/faktura.projects.v5.2
Faktura/Migrations/20230113163316_MigrationCreate.Designer.cs
Faktura/Migrations/20230113163316_MigrationCreate.cs
Faktura/Migrations/20230113172339_next.Designer.cs
Faktura/Migrations/20230113172339_next.cs
Faktura/Migrations/20230114123542_Migagain.Designer.cs
Faktura/Migrations/20230114123542_Migagain.csFaktura/Migrations/20230114185000_AgainMigration.Designer.cs
Faktura/Migrations/20230114185000_AgainMigration.cs
Faktura/Migrations/20230114202755_migagain1.Designer.cs
Faktura/Migrations/20230114202755_migagain1.cs
Faktura/bin/Debug/net7.0/Azure.Identity.dll
Faktura/bin/Debug/net7.0/Faktura.deps.json
Faktura/bin/Debug/net7.0/Faktura.exe
Faktura/bin/Debug/net7.0/Faktura.pdb
Faktura/bin/Debug/net7.0/Faktura.runtimeconfig.json
Faktura/bin/Debug/net7.0/Humanizer.dll
Faktura/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
Faktura/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
Faktura/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Faktura/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
Faktura/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Faktura/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
Faktura/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
 Faktura/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
Faktura/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
Faktura/bin/Debug/net7.0/Microsoft.Identity.Client.dll
Faktura/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
Faktura/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
Faktura/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
Faktura/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Faktura/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
Faktura/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
Faktura/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
Faktura/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
Faktura/bin/Debug/net7.0/Mono.TextTemplating.dll
Faktura/bin/Debug/net7.0/System.CodeDom.dll
Faktura/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
Faktura/bin/Debug/net7.0/System.Drawing.Common.dll
Faktura/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
Faktura/bin/Debug/net7.0/System.Memory.Data.dll
Faktura/bin/Debug/net7.0/System.Runtime.Caching.dll
Faktura/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
Faktura/bin/Debug/net7.0/System.Security.Permissions.dll
Faktura/bin/Debug/net7.0/System.Windows.Extensions.dll
Faktura/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Faktura/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Faktura/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Faktura/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Faktura/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Faktura/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Faktura/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Faktura/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Faktura/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Faktura/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Faktura/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Faktura/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Faktura/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Faktura/obj/Debug/net7.0/Faktura.AssemblyInfo.cs
Faktura/obj/Debug/net7.0/Faktura.AssemblyInfoInputs.cache
Faktura/obj/Debug/net7.0/Faktura.GeneratedMSBuildEditorConfig.editorconfig
Faktura/obj/Debug/net7.0/Faktura.GlobalUsings.g.cs
Faktura/obj/Debug/net7.0/Faktura.assets.cache
Faktura/obj/Debug/net7.0/Faktura.csproj.AssemblyReference.cache
Faktura/obj/Debug/net7.0/Faktura.csproj.BuildWithSkipAnalyzers
Faktura/obj/Debug/net7.0/Faktura.csproj.CopyComplete
Faktura/obj/Debug/net7.0/Faktura.csproj.CoreCompileInputs.cache
Faktura/obj/Debug/net7.0/Faktura.csproj.FileListAbsolute.txt
Faktura/obj/Debug/net7.0/Faktura.dll
Faktura/obj/Debug/net7.0/Faktura.genruntimeconfig.cache
Faktura/obj/Debug/net7.0/Faktura.pdb
Faktura/obj/Debug/net7.0/_IsIncrementalBuild
Faktura/obj/Debug/net7.0/apphost.exe
Faktura/obj/Debug/net7.0/ref/Faktura.dll
Faktura/obj/Debug/net7.0/refint/Faktura.dll
Faktura/obj/Faktura.csproj.nuget.dgspec.json
Faktura/obj/Faktura.csproj.nuget.g.props
Faktura/obj/Faktura.csproj.nuget.g.targets
Faktura/obj/project.assets.json
Faktura/obj/project.nuget.cache

